services:
  frontend:
    build:
      context: ./frontend
      dockerfile: dev.Dockerfile
    container_name: frontend-dev
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "5173:5173"

  backend:
    build:
      context: ./backend
      dockerfile: dev.Dockerfile
    container_name: backend-dev
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3001:3001"

  nginx:
    image: nginx:1.20.1
    container_name: nginx-dev
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - frontend
      - backend
